*{
    margin: 0;
    padding: 0;
}
#lista-filmes{
    display: flex;
    justify-content: start;
    
    flex-wrap: wrap;
    padding: 2.5rem;
    gap: 2rem;
    width: 90rem;
    
}
*#mostrar-filme{
    display: none;
    width: 350px;
    height: auto;
    background-color: white;
    z-index: 10;
    position: fixed;
    left: 300px;
    top: 10px;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    

}
#navbar{
    width: 30px ;
    height: 24px;
}
#imgCartaz{
    height: 50vh;

}
.card{
    width: 37vh;
}

